<ion-view>
    <ion-content>
        <div class="content-container padding">
            <div class="list">
                <div class="item item-divider">
                    How to use this App?
                </div>
                <div class="item help-item">
                    <div class="image">
                        <img ng-src="img/addbutton.png">
                    </div>
                    <div class="help-item-info">
                        <p>Press "Add" to add new Item</p>
                    </div>
                </div>
            </div>
            <div class="list help-item">
                <div class="item">
                    <div class="image">
                        <img ng-src="img/aif.PNG">
                    </div>
                    <div class="help-item-info">
                        <p>Fill the form and press "Add"</p>
                    </div>
                </div>
            </div>
            <div class="list help-item">
                <div class="item">
                    <div class="image">
                        <img ng-src="img/itemdeletesmall.png">
                    </div>
                    <div class="help-item-info">
                        <p>To delete an item swipe left</p>
                    </div>
                </div>
            </div>
            <div class="list help-item">
                <div class="item">
                    <div class="image">
                        <img ng-src="img/subheader.PNG">
                    </div>
                    <div class="help-item-info">
                        <p>To sort list by Name press "Name"</p>
                        <p>To sort list by Quantity press "Quantity"</p>
                        <p>To sort list by Checked Items press " <span class="icon ion-android-funnel"></span> "</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>